.container {
  max-width: var(--content-page-width);
  padding-inline: var(--page-padding);
  margin-inline: auto;

  h1, h2 {
    text-align: center;
    font-weight: 700;
  }
}

.columns {
  display: grid;
  grid-gap: 2rem;

  @include lg {
    grid-template-columns: 1fr 1fr;
  }

  section {
    background-color: var(--color-surface1);
    border-radius: 0.8rem;

    h2,
    > ul > li {
      padding: 1rem 2rem;
    }

    ul, li {
      list-style: none;
    }

    span {
      font-weight: 700;
      font-size: 2rem;
      margin-bottom: 1rem;
      display: block;
    }

    li li {
      margin-block: 0.5rem;
    }
  }
}
