.container {
  padding-inline: var(--page-padding);
}

.header {
  max-width: var(--content-page-width);
  margin-inline: auto;
}

.label-container {
  margin: 3rem auto 1.2rem;
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 0 auto 2rem;

  @include lg {
    font-size: 3.6rem;
  }
}

.meta {
  margin: 0 auto 3rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;

  @media screen and (max-width: 992px) {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  .author-image {
    border-radius: 50%;
    margin-right: 1.5rem;
    object-fit: cover;
    width: 4rem;
    height: 4rem;
    grid-row: span 2;
  }

  .author {
    text-decoration: none;
    color: #000;
    margin-right: 1rem;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }

  .dot {
    margin-right: 1rem;
    display: none;

    @include lg {
      display: inline;
    }
  }

  .date {
    color: var(--post-date-color);
    white-space: nowrap;
  }
}

.index-image {
  border-radius: 0.8rem;
  display: block;
  width: 100%;
  object-fit: cover;
  margin: 0 auto 4rem;
  border: 1px solid var(--post-index-image-border-color);
  aspect-ratio: 16 / 9;
  max-width: var(--content-page-width);

  @include lg {
    max-width: var(--content-page-width-wide);
  }
}
