.banners {
  background-color: #f7f7f7;
  display: flex;
  border-radius: var(--banners-border-radius);
  padding: var(--banners-padding);
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: min(var(--page-width), calc(100% - 2 * var(--page-padding)));
  margin: {
    top: 3.2rem;
    inline: auto;
  }
}
