.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .main {
    flex: 1;
    margin-top: 5.6rem;

    @include lg {
      margin-top: 6.4rem;
    }
  }
}

.skip-to-main {
  position: absolute;
  z-index: 999999;
  height: 4.8rem;
  border-radius: 0.6rem;
  background-color: var(--color-surface1);
  margin: 0.4rem;
  padding-inline: 2rem;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &:focus {
    opacity: 1;
    pointer-events: all;
    outline: 2px solid black;
  }

  @include lg {
    margin: 0.8rem;
  }
}
