.content {
  font-size: 1.6rem;
  font-weight: 400;
  color: #202124;
  line-height: 1.55;
  word-break: break-word;
  font-family: var(--text-family-content);

  @include lg {
    font-size: 1.8rem;
  }

  .title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.2;
    margin: 3rem auto 2rem;

    @include lg {
      font-size: 3.6rem;
    }
  }
}

.content :global {
  p {
    width: min(var(--content-page-width), 100%);
    margin: 0 auto 2.1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 2em auto 1.5rem;
    max-width: var(--content-page-width);
    font-weight: 700;
    font-family: var(--text-family-content-heading);
  }

  h1 {
    font-size: 2.1rem;

    @include lg {
      font-size: 2.6rem;
    }
  }

  h2 {
    font-size: 1.7rem;

    @include lg {
      font-size: 2.2rem;
    }
  }

  h3 {
    font-size: 1.5rem;

    @include lg {
      font-size: 2rem;
    }
  }

  h4 {
    font-size: 1.4rem;

    @include lg {
      font-size: 1.9rem;
    }
  }

  h5 {
    font-size: 1.2rem;

    @include lg {
      font-size: 1.7rem;
    }
  }

  h6 {
    font-size: 1rem;

    @include lg {
      font-size: 1.5rem;
    }
  }

  blockquote {
    background: var(--blockquote-background);
    border-radius: 0.8rem;
    max-width: var(--content-page-width);
    padding: 2rem;
    margin: 0 auto 2.1rem;
    font-style: italic;
    color: var(--blockquote-text-color);
    border-left: 0.2rem solid var(--blockquote-border-color);
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    max-width: fit-content;
    margin: 0 auto 2.1rem;
    background: var(--table-background);
    padding: 1rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    border-collapse: collapse;

    th,
    td {
      padding: 0.5rem;
      border-right: 1px solid var(--table-border-color);

      &:last-child {
        border-right: 0;
      }
    }

    tr {
      border-bottom: 1px solid var(--table-border-color);

      &:last-child {
        border-bottom: 0;
      }
    }

    p {
      margin: 0;
    }
  }

  ol,
  ul {
    max-width: var(--content-page-width);
    margin: 0 auto 2.1rem;
    list-style-position: outside;
    padding-left: 2.4rem;
    box-sizing: border-box;

    ol,
    ul {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  hr {
    max-width: var(--content-page-width);
    margin: 0 auto;
    background: var(--hr-color);
    height: 0.2rem;
  }

  img {
    width: 100%;
    border-radius: 0.8rem;
  }
}
